*.o
*.a
*.so
openpmx
bin/openpmxtran
examples/schnider/schnider.gr.*
examples/schnider/schnider_diffeqn.gr.*
examples/theo/theo.gr.*
examples/warfarin/warfarin.gr.*
src/openpmx_compile_options.h
bin/openpmxtran.exe
